*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

}


/*
      /-------------------------------------/
     /         BARRA DE ROLAGEM            /
    /-------------------------------------/
*/


    /* Estilizando a barra de rolagem para navegadores baseados em WebKit */
    ::-webkit-scrollbar {
        width: 12px; /* Largura da barra de rolagem vertical */
        height: 12px; /* Altura da barra de rolagem horizontal */
    }

    /* Deixando o trilho da barra de rolagem invisível */
    ::-webkit-scrollbar-track {
        background: #959a9e;
    }

    /* Estilizando a alça da barra de rolagem */
    ::-webkit-scrollbar-thumb {
        background: #19568a; /* Cinza com 80% de opacidade */
        border-radius: 6px; /* Bordas arredondadas */
        border: 3px solid transparent; /* Bordas transparentes para criar espaço entre o thumb e o track */
        background-clip: padding-box; /* Faz com que a cor de fundo não cubra as bordas transparentes */
    }

    /* Estilizando a alça da barra de rolagem ao passar o mouse */
    ::-webkit-scrollbar-thumb:hover {
        background: #19568a; /* Mais escuro com 80% de opacidade */
    }


body{
    background-color: #959a9e;
}

/* HEADER  */

header{
    background-color: #19568a;
    padding: 5px;
    border-radius: 0 0 8px 8px;
}

.nav_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

button{
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    background-color: #1b374f;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.9rem;
    width: 12%;

}

a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
}


/*MANAGE TASK*/
.containerTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

}

.taskBox{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* width: 75vw; */
    height: 100%;

}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
}

.listTask{

    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
    color: black;
    list-style-type: none
}

.pendingBox, .onGoingBox, .waitingAprovalBox, .concludedBox{
    margin: 20px;
    background-color: #19568a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px;
    color: white;
    height: 100%;
    font-size: 1rem;

    /* width: 75%; */
}


.search{
    margin: 0px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#manageTaskBody{
    width: 100vw;
    height: 100vh;
}

.inputSearch{
    padding: 8px;
    border-radius: 20px 0px 0px 20px;
    background-color: white;
    flex-grow: 1;
    color: black;
    list-style-type: none
}

.btnSearch{
    margin: 0;
    padding: 5px;
    border-radius: 0%;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 0.9rem;
    width: auto;
}
.btnAdd {
    margin: 0;
    padding: 5px;
    border-radius: 0px 20px 20px 0px;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 0.9rem;
    width: auto;
}

.btnActions{
    margin: 0px 0px 0px 5px;
    padding: 0px;
    border: none;
    border-radius: 0%;
    background-color: #ffffff;
    font-weight: 400;
    font-size: 0.9rem;
    width: auto;
    outline: none;
}
