
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

}


/*
      /-------------------------------------/
     /         BARRA DE ROLAGEM            /
    /-------------------------------------/
*/


  /* Estilizando a barra de rolagem para navegadores baseados em WebKit */
  ::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal */
  }

  /* Deixando o trilho da barra de rolagem invisível */
  ::-webkit-scrollbar-track {
    background: #959a9e;
  }

  /* Estilizando a alça da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background: #19568a; /* Cinza com 80% de opacidade */
    border-radius: 6px; /* Bordas arredondadas */
    border: 3px solid transparent; /* Bordas transparentes para criar espaço entre o thumb e o track */
    background-clip: padding-box; /* Faz com que a cor de fundo não cubra as bordas transparentes */
  }

  /* Estilizando a alça da barra de rolagem ao passar o mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #19568a; /* Mais escuro com 80% de opacidade */
  }


body{
  background-color: #959a9e;
  color: white;
}

/* HEADER  */

header{
  background-color: #19568a;
  padding: 5px;
  border-radius: 0 0 8px 8px;
}

.nav_bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

button{
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
  background-color: #1b374f;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
  width: 12%;

}


.header {
  background-color: #1b374f;
  padding: 10px;

}

.nav-button {
  background-color: #19568a;
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

/* CONTAINER */

.container{
  display: flex;
  flex-direction: row;
}


/* TEAM SECTION */

.team-section {
  display: flex;
  gap: 20px;
  margin: 25px;
}

.box {
  background-color: #335069;
  flex: 1;
  padding: 20px;
  border-radius: 5px;
}

/* TASK SECTION */

.tasks-section {
  grid-column: span 2;
  background-color: #19568a;
  padding: 20px;
  border-radius: 5px;
  width: 1100px;;
  margin: 25px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab-button {
  background-color: #1b374f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.tasks {
  background-color: #335069;
  padding: 10px;
  border-radius: 5px;
}

.task {
  background-color: #d8d9d9;
  color: #000000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.add-task {
  background-color: #1b374f;
  color: #ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* MEMBERS SECTION */

.members-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #1b374f;
  padding: 20px;
  border-radius: 5px;
  margin: 25px;
  height: 575px;
  weight: 200px;
}

.member-card {
  background-color: #335069;
  padding: 15px;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.member-card h3 {
  margin-bottom: 10px;
}

.member-card div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.members-box {
  background-color: #335069;
  padding: 10px;
  border-radius: 5px;
  height: 150px;
}

.add-member {
  background-color: #19568a;
  color: #ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  width:12%;
  width: 300px;
}

/* NOTES SECTION */
.notes-section {
  background-color: #19568a;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  margin: 25px;
  height: 230px;
}

textarea {
  width: 100%;
  height: 180px;
  background-color: #335069;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px 10px 15px; /* Adiciona espaço interno */
  resize: none; /* Impede redimensionamento manual */
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
}
