/* Estilização do fundo transparente */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.8); /* Cinza com transparência */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilização do modal */
  #modal {
    background-color: #19568a; /* Cor do modal */
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  #modal-title {
    color: #d8d9d9;
  }
  
  /* Estilização das ComboBox */
  #funcionario-select,
  #equipe-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #d8d9d9; /* Cor das ComboBox */
    color: #333;
    font-size: 14px;
    outline: none;
  }
  
  /* Estilização do botão */
  #adicionar-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #d8d9d9; /* Cor do botão */
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #adicionar-btn:hover {
    background-color: #c1c2c2;
  }